<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fishjoy.control.menu"
      android:versionCode="1"
      android:versionName="1.0">
      
      <uses-permission android:name="android.permission.WAKE_LOCK" />
		<application android:icon="@drawable/icon" 
  		  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
  		  android:label="@string/app_name">
        <activity android:name="fishjoy.control.help.Help"></activity>
    	<activity android:name="fishjoy.control.game.FishJoy"></activity>
    	<activity android:name=".SubMenuForGame"></activity>
        <activity android:name=".MainMenu" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity android:name="fishjoy.control.systemsetting.Systemsetting"></activity>
		<activity android:name="fishjoy.control.billboard.Billboard"></activity>
		<activity android:name="fishjoy.control.about.About"></activity>

    </application>


</manifest> 